/* CSS Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #f5503b;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin-bottom: 5px;
}

header button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

header button:hover {
    background-color: #555;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

/* Container Principal da Página de Login */
.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    margin-top: 10%;
    width: 80%;
    max-width: 1000px;
}

/* Container Principal da Página de Seleção de Tabelas */
.table-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}

/* Estilo da Caixa de Login */
.login-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 15px;
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button {
    padding: 10px;
    background-color: #f5503b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #d8432e;
}

/* Estilo do Seletor de Tabela */
.select-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

.select-box label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #333;
}

.table-select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo da Tabela de Dados */
#data-table-container {
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

td {
    color: #555;
}

/* Estilo para o botão de ações */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #d8432e;
    color: white;
}

/* Estilos específicos para as ações de upload e busca */
#hero-image-container img {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#uploadFotoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#uploadFotoForm label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#uploadFotoForm input[type="file"],
#uploadFotoForm input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

#uploadFotoForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#uploadFotoForm button:hover {
    background-color: #45a049;
}

/* Estilo para a seção de Detalhes de Missões */
#detalhes-missoes {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#detalhes-missoes h1 {
    color: #333;
    text-align: center;
}

